.git
.vscode
node_modules
public
vendor
.prettierrc.yml
.eslintrc.js
.eslintrc.cjs
.env
composer.json
composer.lock
docker-compose.yml
package-lock.json
package.json
phpunit.xml
postcss.config.js
README.md
tailwind.config.js
tsconfig.json
vite.config.js
